.section {
    display: flex;
    align-items: center;
}

.col {
    width: 50%;
}

.title {
    font-size: 4.2em;
    margin-bottom: .25em;
    padding-right: 2.8em;
}

.button1 {
    background-color: rgb(253, 82, 82);
    border: none;
    border-radius: 5px;
    outline: none;
    color: #fff;
    padding: .5em 1em;
    text-transform: uppercase;
    margin-right: 15em;
}
.img {
    width: 100%;
    padding-top: 2em;
}

.typography {
    padding-left: 1em;
}
