.recipe_img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 4px; 
    padding-top: 30px;
    padding-bottom: 10px;
}

.recipe_name {
    max-width: 200px;
    text-align: center;
    margin: 12px 0px;
    font-weight: 600;
}

.recipeImg {
    cursor: pointer;
    box-shadow: -5px -10px -20px -30px rgba(0,0,0.5);

}

.button {
    background: rgba(236, 158, 85, 0.897);
    border-radius: 5px;
    border: none;
    padding: 5px 10px; 
    font-weight: 300;   
}
.button:hover {
    background-color: rgb(49, 161, 165);
    color: white;
}